<div class="instruction-dialog-container">
    <h1 mat-dialog-title>Image Not Suitable for Processing</h1>

    <div mat-dialog-content>
        <p class="intro-text">To ensure quick and accurate processing, please follow these guidelines:</p>

        <ul class="instruction-list">
            <li>The receipt should be well-lit to ensure all text is easily readable.</li>
            <li>Make sure the receipt is in the correct orientation.</li>
            <li>Ensure the text follows the specific format that our system recognizes. This includes date, total
                amount, and product details.</li>
        </ul>

        <p>Here's an example:</p>

        <div class="instruction">
            <img src="../../../../assets/example-photo.jpg" alt="Example Photo">
        </div>

        <p class="outro-text">Following these guidelines will enable faster and more accurate processing of your
            uploaded receipt.</p>
    </div>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Got it!</button>
    </mat-dialog-actions>
</div>