<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card" id="chat1" [ngStyle]="{'height': isChatOpen ? 'auto' : '50px'}" style="border-radius: 15px;">
          <div (click)="toggleChat()"
            class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <i class="fas fa-angle-left"></i>
            <p class="mb-0 fw-bold">Live chat</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="card-body">
            <div class="card-body chat-scrollable-area">
              <div *ngFor="let message of messages">
                <!-- If it's a bot message -->
                <div *ngIf="!message.isUser" class="d-flex flex-row justify-content-start mb-4">
                  <img src="../../../assets/bot-avatar.png" alt="bot avatar" style="width: 45px; height: 100%;">
                  <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);"
                       [innerHTML]="message.text">
                  </div>
                </div>
                

                <div *ngIf="message.isUser" class="d-flex flex-row justify-content-end mb-4">
                  <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                    {{ message.text }}
                  </div>
                  <img src="../../../assets/client_avatar.jpg" alt="user avatar" style="width: 45px; height: 100%;">
                </div>
              </div>
            </div>

            <div class="message-input-container">
              <div class="form-outline">
                <textarea class="form-control" id="textAreaExample" [(ngModel)]="userInput" rows="1"
                  (click)="$event.stopPropagation()"
                  (keydown.enter)="sendMessage(); $event.preventDefault(); $event.stopPropagation();">
                </textarea>
                <label class="form-label" for="textAreaExample">Type your message</label>
              </div>
              <button mat-raised-button (click)="sendMessage(); $event.stopPropagation()" class="mt-2">Send</button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>